.map {
    position: relative;
    width: 600px;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    /* Rozmiar kratki */
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: #4caf50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid #000;
    border-radius: 50%;
}

.table:hover {
    background-color: #2980b9;
}

.table_occupied {
    background-color: #e74c3c;
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid #000;
    border-radius: 50%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tableMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
    padding: 20px;
    position: relative;
    top: 0;
    transform: translateY(0);
    transition: top 0.3s, transform 0.3s;
    margin: 0 auto;
    outline: none;
}

.modal_content__after-open {
    top: 50%;
    transform: translateY(-50%);
}

.modal_content__before_close {
    top: 0;
    transform: translateY(0);
}

.modal_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn_close {
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_close:hover {
    background-color: #e94e4e;
    color: rgb(255, 255, 255);
}

.btn_add_table {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_add_table:hover {
    background-color: #3e8e41;
    color: rgb(255, 255, 255);
}

.btn_add {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_add:hover {
    background-color: #3e8e41;
    color: rgb(255, 255, 255);
}

.btn_free {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_free:hover {
    background-color: #3e8e41;
    color: rgb(255, 255, 255);
}

.btn_occupied {
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_occupied:hover {
    background-color: #c0392b;
    color: rgb(255, 255, 255);
}

.modal_content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.modal_content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.modal_content h3 {
    font-size: 20px;
    color: #333;
    margin-top: 16px;
    margin-bottom: 12px;
}

.crossedItem {
    text-decoration: line-through;
    color: #888;
    cursor: pointer;
}

.normalItem {
    cursor: pointer;
}