/* styles.module.css */

/* Kontener mapy */

/* Kontener stolików */
.map {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #f2f2f2;
    margin-top: 20px;
    border: 1px solid #ccc;
}

/* Styl stolików */
.table {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #4caf50; /* Zielony kolor kwadracika */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border: 10px;
    border-color: black;
}

/* Styl stolików po najechaniu myszką */
.table:hover {
    background-color: #2980b9; /* Zmiana koloru po najechaniu */
}

/* Styl stolików zajętych */
.table.occupied {
    background-color: #e74c3c;
}

/* Nagłówek mapy */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tableMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	max-width: 400px;
	padding: 20px;
	position: relative;
	top: 0;
	transform: translateY(0);
	transition: top 0.3s, transform 0.3s;
	margin: 0 auto;
	outline: none;
}

.modal_content__after-open {
	top: 50%;
	transform: translateY(-50%);
}

.modal_content__before_close {
	top: 0;
	transform: translateY(0);
}

.modal_overlay {
	/* Styles for the modal overlay */
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.btn_close {
	padding: 10px;
	background-color: #ff0000;
	color: white;
	border: none;
	cursor: pointer;
	width: 200px;
	margin: 0 auto;
}

.btn_close:hover {
	background-color: #e94e4e;
	color: rgb(255, 255, 255);
}

.btn_add_table {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_add_table:hover {
    background-color: #3e8e41;
    color: rgb(255, 255, 255);
}

.btn_add {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.btn_add:hover {
    background-color: #3e8e41;
    color: rgb(255, 255, 255);
}