.reservation {
  text-align: center;
}

.date_boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
  font-size: 30px;
  font-weight: bold;
}

.date_box {
  width: calc(16.666% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #f5f5f5;
}

.date_box p {
  margin: 0;
  padding: 5px 0;
  font-size: 20px;
}

.time_ranges {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
}

.time_ranges button {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #4caf50;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.time_ranges button:hover {
  background-color: #46a049;
}

.modal {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 400px;
  padding: 20px;
  position: relative;
  top: 0;
  transform: translateY(0);
  transition: top 0.3s, transform 0.3s;
  margin: 0 auto;
  outline: none;
}

.modal__after-open {
  top: 50%;
  transform: translateY(-50%);
}

.modal__before_close {
  top: 0;
  transform: translateY(0);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn_close {
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.btn_send {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}

input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}

p {
  margin: 5px 0;
}

.table_choose {
  width: 36px;
  height: 36px;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 auto;
}

.modal_choose_table {
  width: 600px;
  height: 600px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  top: 0;
  transform: translateY(0);
  transition: top 0.3s, transform 0.3s;
  margin: 0 auto;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
}

.map {
  position: relative;
  width: 600px;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  /* Rozmiar kratki */
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #000;
  border-radius: 50%;
}

.table:hover {
  background-color: #2980b9;
}

.table_occupied {
  background-color: #e74c3c;
  position: absolute;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #000;
  border-radius: 50%;
}
