.permissions_container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.permissions_container h2 {
  margin-bottom: 20px;
}


.permissions_table {
  width: 100%;
  max-width: 900px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.permissions_table th,
.permissions_table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.permissions_table tfoot td {
  font-weight: bold;
}

.permissions_table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.permissions_table tfoot td:last-child {
  text-align: right;
}


label {
  display: block;
  margin-bottom: 5px;
}

.link_btn {
  width: 100%;
  max-width: 900px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.edit_btn {
  width: 100%;
  max-width: 900px;
  background-color: rgb(111, 0, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn_close {
	padding: 10px;
	  background-color: #ff0000;
	  color: white;
	  border: none;
	  cursor: pointer;
	width: 200px;
	margin: 0 auto;
  }
  
  .btn_send {
	padding: 10px;
	  background-color: #4caf50;
	  color: white;
	  border: none;
	  cursor: pointer;
	width: 200px;
	margin: 0 auto;
  }
  
  .modal_content {
	/* Styles for the modal content */
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	max-width: 400px;
	padding: 20px;
	position: relative;
	top: 0;
	transform: translateY(0);
	transition: top 0.3s, transform 0.3s;
	margin: 0 auto;
	outline: none;
  }
  
  .modal_content__after-open {
	top: 50%;
	transform: translateY(-50%);
  }
  
  .modal_content__before_close {
	top: 0;
	transform: translateY(0);
  }
  
  .modal_overlay {
	/* Styles for the modal overlay */
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  